<table class="table table-striped table-bordered">
  <thead>
    <th>屬性</th>
    <th>值</th>
  </thead>
  <tbody>
    <%= tr_for @admin_attendee, :id, %i[user email], %i[form title] %>
  </tbody>
</table>
<div class="btn-group">
  <%= link_to t('crud.edit'), edit_admin_form_attendee_path(@admin_form, @admin_attendee), class: 'btn btn-info btn-lg' %>
  <%= link_to t('action.back'), admin_form_attendees_path, class: 'btn btn-default btn-lg' %>
</div>